.cover__link {
    margin: 0;
    padding: 0;
    max-width: 1184px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    color: #ffffff;
    text-decoration: none;
}





