.lead__subtitle {
    margin: 0;
    padding: 0;
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
     font-size: 27px;
    }
 }
@media screen and (max-width: 568px) {
    .lead__subtitle {
     font-size: 24px;
    }
 }

@media screen and (max-width: 448px) {
    .lead__subtitle {
     font-size: 16px;
     line-height: 1.25;
    }
 }