.cover__background {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20.69% 26.35%;
    max-height: 740px;
    max-width: 1184px;
    width: 100%;
    overflow-x: hidden;
    background-image: url(../../../images/__background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cover__background::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    cursor: pointer;
    opacity: 0.3;
    z-index: 2;
}

.cover__background:hover {
    opacity: 0.8;
    transition: opacity 1s linear 0s;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        padding: 19.04% 22.65%;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        padding: 14.97% 13.54%;
    }
}

@media screen and (max-width: 650px) {
    .cover__background {
        padding: 10.31% 5%;
    }
}