.cover__background {
    background-image: url(../../../images/__background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 740px;
    max-width: 1184px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        width: 100vw;
        min-height: 640px;
        margin-left: -48px;
    }
}
@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
        margin-left: -24px;
    }
}
@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 200px;
        margin-left: -16px;
    }
}