.cover__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    max-width: 560px;
    position: absolute;
    z-index: 3;
    top: calc(28.69% + 80px);
}

@media screen and (max-width: 1024px) {
   .cover__title {
    top: calc(19.04vw + 70px);
   } 
}
@media screen and (max-width: 768px) {
   .cover__title {
    top: calc(14.97vw + 90px);
   } 
}
@media screen and (max-width: 660px) {
   .cover__title {
    max-width: 254px;
    font-size: 36px;
    line-height: 1.09;
    top: calc(20.97vw + 90px);
   } 
}
@media screen and (max-width: 320px) {
   .cover__title {
    max-width: 254px;
    font-size: 32px;
    line-height: 1.09;
    top: calc(10.31vw + 66px);
   } 
}